<div class="input-group">
  <select class="form-control" ([ngModel])="selectedDepartment" >
    <option [hidden]="!departments_loading" selected>Завантаження...</option>
    <option [hidden]="departments_loading || department.disable"
            *ngFor="let department of departments"
            [selected]="department.departmentId === selectedDepartment.departmentId"
            (click)="change(department)">
      {{department.name}}
    </option>
    <option (click)="getDepartments()">...Оновити...</option>
  </select>
  <div class="input-group-append">
    <button type="button"
            class="btn btn-light"
            (click)="addDepartment()"
            title="Додати новий філіал."> +
    </button>
  </div>
</div>
