select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.changed {
  background-color: rgba(0, 0, 0, 0.075);
}

.btn-min-style {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 65px;
}

.mat-option {
  height: 25px;
  line-height: 25px;
  font-size: xx-small;
}

.has-danger {
  background-color: rgba(255, 0, 0, 0.30);
}

.input-style-active {
  border: none;
  background-color: rgba(255,255,255,0.5);
}

.input-style-passive {
  border: none;
  background-color: rgba(0,0,0,0);
}
