<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="Виберіть дату:" ngbDatepicker #calendar="ngbDatepicker"
             (click)="calendar.toggle();"
             (navigate)="setCurrentMonth($event)"
             [minDate]="minDate"
             [maxDate]="maxDate"
             [dayTemplate]="selectedCustomDay">

      <div class="input-group-append">
        <button type="button"
                class="btn btn-light"
                (click)="addDate()"
                (click)="calendar.close()"
                title="Додати нову дату операційного дня."> +
        </button>
      </div>
    </div>
  </div>
</form>

<ng-template #selectedCustomDay let-date="date" let-currentMonth="currentMonth" let-disabled="disabled">
  <span class="custom-day"
        (click)="!disabled ? onSelect(date): false"
        [class.work-day]="!disabled"
        [class.lock-day]="isLocked(date)"
        [class.hidden]="date.month !== currentMonth"
        [class.text-muted]="disabled">
    {{ date.day }}
  </span>
</ng-template>
