.btn-min-style {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 65px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.changed {background-color: #f5c6cb}

.invalid {
  font-size: 75%;
  color: #f44336;
}

.input-style-active {
  border: none;
  background-color: rgba(255,255,255,0.5);
}

.input-style-passive {
  border: none;
  background-color: rgba(0,0,0,0);
}
