<ngx-toasta></ngx-toasta>
<br><br><br>
<img [hidden]="!surgeons_loading" src="/assets/img/download.gif" style="max-width: 500px"/>
<div *ngIf="!surgeons_loading">
  <div class="left-container" style="max-width: 800px; min-width: 550px; margin-left: 10px">
    <form [formGroup]="searchForm">
      <div class="input-group-prepend">
        <span class="input-group-text">Пошук :</span>
        <input #search id="search" type="search" formControlName="searchControlForm"
               [ngClass]="{'form-control border-left':true,
                    'is-valid':searchForm.valid,
                    'is-invalid':!searchForm.valid
                    }">
      </div>
    </form>
  </div>

  <div class="left-container" style="max-width: 800px; min-width: 550px; margin-left: 10px">
    <p class="h3 text-center">Хірурги клініки :</p>

    <label class="text-right">
      <input type="checkbox" [(ngModel)]="hidden_surgeons"
             class="text-right"> приховані
    </label>

    <form [formGroup]="tableForm">
      <div class="table-responsive-lg">
        <table id="table" class="table table-bordered table-sm table-hover">

          <thead>
          <tr class="table-info">
            <th scope="col" style="width: 30px;"></th>
            <th scope="col" colspan="3">
              <img [hidden]="!sorting_order" src="/assets/img/sort/sort-ASC.png" style="max-width: 25px;"
                   (click)="change_sorting()"/>
              <img [hidden]="sorting_order" src="/assets/img/sort/sort-DESC.png" style="max-width: 25px;"
                   (click)="change_sorting()"/>
              <label>&nbsp; ПІБ Хірурга</label>
            </th>
            <th scope="col" style="width: 80px;">Місто</th>
            <th scope="col" style="width: 40px;">Ст.</th>
            <th scope="col" style="width: 30px;" *ngIf="hidden_surgeons">бл.</th>
          </tr>
          </thead>

          <tbody formArrayName="surgeonsForm">

          <tr *ngFor="let surgeonForm of (tableForm.get('surgeonsForm').controls); let i=index"
              [hidden]="surgeonForm.get('disable').value && !hidden_surgeons"
              [ngClass]="{changed:surgeonForm.get('isChanged').value}">

            <td [formGroupName]="i">
              <input type="checkbox" formControlName="isChanged"
                     (change)="surgeonForm.invalid ? surgeonForm.get('isChanged')
                   .patchValue(false) : false"
                     class="form-control form-control-sm input-style-active">
            </td>

            <td [formGroupName]="i">
              <input id="surname" #surname type="text" formControlName="surname" title="" placeholder="  - Прізвище -  "
                     [ngClass]="{'form-control form-control-sm':true,
                    'input-style-active':surgeonForm.get('surname').valid,
                    'is-invalid':!surgeonForm.get('surname').valid
                    }"
                     (input)="surgeonForm.get('isChanged').patchValue(surgeonForm.valid)"
                     (keydown.space)="firstName.focus(); false">
            </td>

            <td [formGroupName]="i">
              <input #firstName type="text" formControlName="firstName" placeholder="  - Ім'я -  "
                     [ngClass]="{'form-control form-control-sm':true,
                    'input-style-active':surgeonForm.get('firstName').valid,
                    'is-invalid':!surgeonForm.get('firstName').valid
                    }"
                     (input)="surgeonForm.get('isChanged').patchValue(surgeonForm.valid)"
                     (keydown.space)="secondName.focus(); false">
            </td>

            <td [formGroupName]="i">
              <input #secondName type="text" formControlName="secondName" placeholder="  - по-Батькові -  "
                     [ngClass]="{'form-control form-control-sm':true,
                    'input-style-active':surgeonForm.get('secondName').valid,
                    'is-invalid':!surgeonForm.get('secondName').valid
                    }"
                     (input)="surgeonForm.get('isChanged').patchValue(surgeonForm.valid)"
                     (keydown.space)="city.focus(); false">
            </td>

            <td [formGroupName]="i">
              <input #city type="text" formControlName="city" placeholder="  - філіал -  "
                     [ngClass]="{'form-control form-control-sm':true,
                    'input-style-active':surgeonForm.get('city').valid,
                    'is-invalid':!surgeonForm.get('city').valid
                    }"
                     (input)="surgeonForm.get('isChanged').patchValue(surgeonForm.valid)"
                     (keydown.space)="sex.focus(); false">
            </td>

            <td [formGroupName]="i">
              <select #sex type="text" formControlName="sex"
                      [ngClass]="{'form-control form-control-sm':true,
                    'input-style-active':surgeonForm.get('sex').valid,
                    'is-invalid':!surgeonForm.get('sex').valid
                    }"
                      (change)="surgeonForm.get('isChanged').patchValue(surgeonForm.valid)"
              >
                <option *ngFor="let sex of genders" [selected]="surgeonForm.get('sex').value === sex" value="{{sex}}">
                  {{sex}}
                </option>
              </select>
            </td>
            <td [formGroupName]="i" *ngIf="hidden_surgeons">
              <input type="checkbox" formControlName="disable"
                     (change)="surgeonForm.get('isChanged').patchValue(surgeonForm.valid)"
                     class="form-control form-control-sm input-style-active">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>

  </div>
</div>
<br><br><br>

<div class="left-container fixed-bottom bg-light">
  <button class="btn btn-min-style" (click)="onAdd()" title="Додати">Add</button>
  <button class="btn btn-success btn-min-style" (click)="onSave()" title="Зберегти"
          [disabled]="count_of_surgeons == 0">Save
  </button>
  <img [hidden]="!save_loading" src="/assets/img/rotating-balls-spinner.gif" height="40" width="40"/>
  <button class="btn btn-warning btn-min-style" (click)="onRefresh()" title="Обновити">Refresh</button>
  <button class="btn btn-dark btn-min-style" (click)="onDelete()" title="Видалити"
          [disabled]="count_of_surgeons == 0">Delete
  </button>
  <img [hidden]="!del_loading" src="/assets/img/rotating-balls-spinner.gif" height="40" width="40"/>
  <button class="btn btn-danger btn-min-style" (click)="onCancel()" title="Відмінити"
          [disabled]="count_of_surgeons == 0">Cancel
  </button>
</div>
