@import '../app.component.css';

.invalid {
  font-size: 75%;
  color: #f44336;
}

.input-style-active {
  border: none;
  background-color: rgba(255,255,255,0.5);
}

.input-style-passive {
  border: none;
  background-color: rgba(0,0,0,0);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
