<meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<ngx-toasta></ngx-toasta>
<br><br><br>
<div [hidden]="!calender_loading">
  <p class="h5 text-center">Виберіть дату !</p>
  <img class="center" src="/assets/img/calender.png"/>
</div>

<!--<img [hidden]="isLoadingOFF()" src="/assets/img/download.gif" style="max-width: 600px; min-width: 600px;"/>-->
<mat-spinner [hidden]="isLoadingOFF()"></mat-spinner>
<div [hidden]="!isLoadingOFF()" class="container-fluid"
     style="max-width: 1200px; min-width: 550px; margin-left: 10px">

  <form [formGroup]="pageForm">
    <input type="text" readonly class="h5"
           formControlName="tablesLabel"
           style="width: 100%; border: none">

    <div formArrayName="tablesForm">
      <div *ngFor="let tablesForm of (pageForm.get('tablesForm').controls); let i=index"
           class="container-fluid" style="min-width:500px;">

        <div [formGroupName]="i">
          <input type="text" readonly
                 formControlName="tableLabel"
                 class="h5"
                 style="border: none">

          <div class="table-responsive-lg">
            <table id="table" class="table table-bordered table-sm table-hover">
              <thead>
              <tr class="table-info">
                <th scope="col" style="width: 30px;"></th>
                <th scope="col" style="width: 35px;">№м</th>
                <th scope="col" style="width: 60px;">№п</th>
                <th scope="col" style="width: 80px;">Час</th>
                <th scope="col" style="width: 250px">ПІБ</th>
                <th scope="col" style="width: 35px;">Ст.</th>
                <th scope="col" style="width: 65px;">Статус</th>
                <th scope="col" style="width: 150px;">Супр. пацієнта</th>
                <th scope="col" style="width: 150px;">Операція</th>
                <th scope="col" style="width: 55px;">Око</th>
                <th scope="col" style="width: 100px">Хірург</th>
                <th scope="col" style="width: 100px">Менеджер</th>
                <th scope="col">Примітки</th>
                <th scope="col" style="width: 40px;" [hidden]="!hidden_visits">бл.</th>
              </tr>
              </thead>

              <tbody formArrayName="visitsForm">
              <tr *ngFor="let visitForm of (tablesForm.get('visitsForm').controls); let j=index"
                  [ngClass]="{changed:visitForm.get('isChanged').value}"
                  [hidden]="(!hidden_visits && (hidden_visits || visitForm.get('disable').value))">

                <!--Checkbox-->
                <td [formGroupName]="j">
                  <input type="checkbox" formControlName="isChanged"
                         (change)="visitForm.invalid || visitForm.value.disable ? visitForm.get('isChanged')
                   .patchValue(false) : false"
                         class="form-control form-control-sm input-style-active">
                </td>

                <!--Ward Place-->
                <td [formGroupName]="j" scope="row">
                  <input type="text" formControlName="accomodation_place" readonly
                         class="form-control font-weight-bold form-control-sm input-style-passive"
                         style="border: none">
                </td>

                <!--Order For Come-->
                <td [formGroupName]="j">
                  <input type="number" formControlName="orderForCome"
                         (change)="changeState(visitForm)"
                         [ngClass]="{'form-control font-weight-bold form-control-sm': true,
                    'is-invalid': visitForm.get('orderForCome').errors && visitForm.get('orderForCome').errors.invalidQueue,
                    'is-valid': visitForm.get('orderForCome').errors && visitForm.get('orderForCome').errors.nullQueue,
                    'input-style-active': visitForm.get('orderForCome').valid}">
                </td>

                <!--Time For Come-->
                <td [formGroupName]="j">
                  <input type="time" formControlName="timeForCome"
                         (change)="changeState(visitForm)"
                         [ngClass]="{'form-control form-control-sm': true,
                    'is-invalid': !(visitForm.get('timeForCome').valid),
                    'input-style-active': visitForm.get('timeForCome').valid}">

                </td>

                <!--Client-->
                <td [formGroupName]="j">
                  <select type="text" formControlName="client"
                          (change)="changeClients(visitForm)"
                          [ngClass]="{'form-control font-weight-bold form-control-sm': true,
                                    'is-invalid': visitForm.get('client').errors && visitForm.get('client').errors.invalidClient,
                                    'is-valid': visitForm.get('client').errors && visitForm.get('client').errors.nullClient,
                                    'input-style-active': visitForm.get('client').valid}">
                    <option [selected]="visitForm.value.client == 0" [value]="0"></option>
                    <option *ngFor="let client of clients" [value]="client.clientId"
                            [selected]="visitForm.value.client == client.clientId">
                      {{client.surname}} {{client.firstName}} {{client.secondName}}
                    </option>
                  </select>
                </td>

                <!--Sex-->
                <td [formGroupName]="j">
                  <input type="text" formControlName="sex"
                         class="form-control form-control-sm input-style-passive">
                </td>

                <!--  Status  -->
                <td [formGroupName]="j">
                  <select type="text" formControlName="status"
                          (change)="changeState(visitForm)"
                          *ngIf="visitForm.value.client > 0"
                          class="form-control form-control-sm input-style-active">
                    <option *ngFor="let status of statuses"
                            [selected]="status == visitForm.value.status">
                      {{status}}
                    </option>
                  </select>
                </td>

                <!--Patient-->
                <td [formGroupName]="j">
                  <select formControlName="patient"
                          [ngClass]="{'form-control font-weight-bold form-control-sm': true,
                    'is-invalid': visitForm.get('patient').errors && visitForm.get('patient').errors.invalidPatient,
                    'input-style-active': visitForm.get('patient').valid}"
                          (change)="changeState(visitForm)"
                          *ngIf="visitForm.get('status').value == 'супров.'">
                    <option [selected]="visitForm.get('patient').value == 0"></option>
                    <option *ngFor="let patient of patients" [ngValue]="patient.clientId"
                            [selected]="visitForm.get('patient').value == patient.clientId">
                      {{patient.surname}} {{patient.firstName}} {{patient.secondName}}
                    </option>
                  </select>

                </td>

                <!--Operation Type-->
                <td [formGroupName]="j">
                  <select formControlName="operationType"
                          class="form-control form-control-sm input-style-active"
                          (change)="changeState(visitForm)"
                          *ngIf="visitForm.get('status').value == 'пацієнт' && visitForm.get('client').value > 0">
                    <option [selected]="visitForm.get('operationType').value == 0"></option>
                    <option *ngFor="let operation_type of operation_types" [ngValue]="operation_type.operationTypeId"
                            [disabled]="operation_type.disable"
                            [selected]="visitForm.get('operationType').value == operation_type.operationTypeId">
                      {{operation_type.name}}
                    </option>
                  </select>
                </td>

                <!--EYE-->
                <td [formGroupName]="j">
                  <select formControlName="eye"
                          class="form-control form-control-sm input-style-active"
                          (change)="changeState(visitForm)"
                          *ngIf="visitForm.get('status').value == 'пацієнт' && visitForm.get('client').value > 0">
                    <option [selected]="visitForm.get('eye').value == null"></option>
                    <option *ngFor="let eye of eyes" [ngValue]="eye"
                            [selected]="eye == visitForm.get('eye').value">
                      {{eye}}
                    </option>
                  </select>
                </td>

                <!--Surgeon-->
                <td [formGroupName]="j">
                  <select formControlName="surgeon"
                          class="form-control form-control-sm input-style-active"
                          (change)="changeState(visitForm)"
                          *ngIf="visitForm.get('status').value == 'пацієнт' && visitForm.get('client').value > 0">
                    <option [selected]="visitForm.get('surgeon').value == 0"></option>
                    <option *ngFor="let surgeon of surgeons" [ngValue]="surgeon.surgeonId"
                            [disabled]="surgeon.disable"
                            [selected]="visitForm.get('surgeon').value == surgeon.surgeonId">
                      {{surgeon.surname}}
                      {{surgeon.firstName.substring(0,1)}}.{{surgeon.secondName.substring(0,1)}}.({{surgeon.city}})
                    </option>
                  </select>
                </td>

                <!--Manager-->
                <td [formGroupName]="j">
                  <select formControlName="manager"
                          class="form-control form-control-sm input-style-active"
                          (change)="changeState(visitForm)"
                          *ngIf="visitForm.get('client').value > 0">
                    <option [selected]="visitForm.get('manager').value == 0"></option>
                    <option *ngFor="let manager of managers" [ngValue]="manager.managerId"
                            [disabled]="manager.disable"
                            [selected]="visitForm.get('manager').value == manager.managerId">
                      {{manager.surname}}
                      {{manager.firstName.substring(0,1)}}.{{manager.secondName.substring(0,1)}}.({{manager.city}})
                    </option>
                  </select>
                </td>

                <!--Note-->
                <td [formGroupName]="j">
                  <input type="text" formControlName="note"
                         [readonly]="visitForm.get('disable').value"
                         (change)="changeState(visitForm)"
                         (input)="visitForm.get('isChanged').patchValue(visitForm.valid)"
                         class="form-control form-control-sm input-style-active"
                  >
                </td>

                <td [formGroupName]="j" [hidden]="(!hidden_visits)">
                  <img *ngIf="visitForm.get('disable').value"
                       src="/assets/img/icons8/lock-48.png"
                       style="width: 70%">

                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<br><br><br>

<div class="left-container fixed-bottom bg-light">

  <button class="btn btn-success btn-min-style" (click)="onSave()" title="Зберегти"
          [disabled]="number_of_changed_values == 0">Save
  </button>
  <img [hidden]="!save_loading" src="/assets/img/rotating-balls-spinner.gif" height="40" width="40"/>

  <button class="btn btn-warning btn-min-style" (click)="onRefresh()">Refresh</button>

  <button class="btn btn-dark btn-min-style" (click)="onDelete()"
          [disabled]="number_of_changed_values == 0">Delete
  </button>
  <img [hidden]="!del_loading" src="/assets/img/rotating-balls-spinner.gif" height="40" width="40"/>

  <button class="btn btn-info btn-min-style" (click)="onDisplace()"
          [disabled]="number_of_changed_values == 0">Displace
  </button>
  <img *ngIf="displace_loading" src="/assets/img/rotating-balls-spinner.gif" height="40" width="40"/>

  <button class="btn btn-info btn-min-style" (click)="moveToAnotherDatePlace()"
          [disabled]="number_of_changed_values == 0">Move to ...
  </button>

  <!--<button class="btn btn-danger btn-min-style" (click)="test()">Test</button>-->
  <label class="text-right">
    <input type="checkbox" [(ngModel)]="hidden_visits"
           class="text-right"> приховані
  </label>
</div>

<!--<div class="combo-container">-->
<!--<input type="text" formControlName="client" (click)="opening = true">-->
<!--<div class="data-container" *ngIf="opening">-->
<!--<p *ngFor="let client of clients; let i = index" class="data-list">{{client.surname}}</p>-->
<!--</div>-->
<!--</div>-->
