<div class="container-fluid" style="min-width:500px; max-width: 1000px">
  <div class="row">
    <div class="col-lg-5">
      <mat-spinner *ngIf="dates_loading"></mat-spinner>
      <div *ngIf="!dates_loading"><p class="h3 text-center">Заплановані операційні дати :</p>
        <p class="h4 text-center">(м.{{selectedDepartment?.name}})</p>

        <ngb-datepicker
          [minDate]="minDate" [maxDate]="maxDate" [dayTemplate]="customDay">
        </ngb-datepicker>

        <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected"
                     let-disabled="disabled" let-focused="focused">
          <span class="custom-day"
                (click)="onSelect(date, disabled)"
                [class.work-day]="isPresented(date)"
                [class.lock-day]="isDisabled(date)"
                [class.bg-primary]="isSelected(date)"
                [class.hidden]="date.month !== currentMonth"
                [class.text-muted]="disabled">
                  {{ date.day }}
          </span>

        </ng-template>
      </div>
      <div>
        <button class="btn btn-success btn-min-style" (click)="onSave()" [disabled]="!(selectedDates.length > 0)">Save
        </button>
        <button class="btn btn-warning btn-min-style" (click)="onRefresh()">Refresh</button>
        <button class="btn btn-dark btn-min-style" (click)="onDelete()" [disabled]="!(selectedDates.length > 0)">
          Delete
        </button>
      </div>

    </div>

    <div class="col-lg-3">

      <div class="left-container" style="max-width: 280px">
        <br>
        <p class="h5 text-center">Вибрані дати для хірурга : </p>
        <p class="h5 text-center">({{selectedSurgeon?.surname}} {{selectedSurgeon?.firstName[0]}}.{{selectedSurgeon?.secondName[0]}}.):</p>


        <!--<button (click)="test()">Test</button>-->

        <mat-spinner *ngIf="false" style="margin-left: 2%" [diameter]="60"></mat-spinner>
        <ol *ngIf="true">
          <li class="h6 text" *ngFor="let selectedDate of selectedSurgeonPlans">
            {{refactorDay(selectedDate)}}
            <img [hidden]="!(selectedDate.datePlanId > 0) || !selectedDate.disable" src="/assets/img/icons8/lock-48.png" height="20" width="20"
                 (click)="selectedDate.disable = false"/>
            <img [hidden]="!(selectedDate.datePlanId > 0) || selectedDate.disable" src="/assets/img/icons8/unlock-48.png" height="20" width="20"
                 (click)="selectedDate.disable = true"/>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
