.btn-min-style {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 65px;
}

.changed {
  background-color: rgba(0, 0, 0, 0.075);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-style-active {
  border: none;
  background-color: rgba(255,255,255,0.5);
}
