<img [hidden]="!isBadConnection" src="/assets/img/no_connection.jpg" style="max-width: 500px"/>
<form  autocomplete="off" *ngIf="!isBadConnection" (submit)="loginUser(login.value, password.value)">
  <div class="container">
    <div>
      <input #login type="text" autocomplete="off" placeholder="Login" id="login"
              (keyup)="invalidLogin = false"
              [ngStyle]="{'background': invalidLogin ? 'pink' : 'white'}">
    </div>
    <div>
      <input #password type="password" autocomplete="off" placeholder="Password" id="password"
             (keyup)="invalidLogin = false"
             [ngStyle]="{'background': invalidLogin ? 'pink' : 'white'}">
    </div>
    <div>
      <button type="submit" id="submit">Submit</button>
      <button (click)="test()">Test</button>
    </div>
  </div>
</form>
