<ngx-toasta></ngx-toasta>
<br><br><br>
<img [hidden]="!managers_loading" src="/assets/img/download.gif" style="width: 100%"/>
<div *ngIf="!managers_loading">
  <div class="left-container" style="max-width: 800px; min-width: 550px; margin-left: 10px">
    <form [formGroup]="searchForm">
      <div class="input-group-prepend">
        <span class="input-group-text">Пошук :</span>
        <input #search id="search" type="search" formControlName="searchControlForm"
               [ngClass]="{'form-control border-left':true,
                    'is-valid':searchForm.valid,
                    'is-invalid':!searchForm.valid
                    }">
      </div>
    </form>
  </div>

  <div class="left-container" style="max-width: 800px; min-width: 550px; margin-left: 10px">
    <p class="h3 text-center">Менеджери клініки :</p>

    <label class="text-right">
      <input type="checkbox" [(ngModel)]="hidden_managers"
             class="text-right"> приховані
    </label>

    <form [formGroup]="tableForm">
      <div class="table-responsive-lg">
        <table id="table" class="table table-bordered table-sm table-hover">

          <thead>
          <tr class="table-info">
            <th scope="col" style="width: 30px;"></th>
            <th scope="col" colspan="3">
              <img [hidden]="!sorting_order" src="/assets/img/sort/ascending-sorting-48.png" style="max-width: 25px;"
                   (click)="change_sorting()"/>
              <img [hidden]="sorting_order" src="/assets/img/sort/descending-sorting-48.png" style="max-width: 25px;"
                   (click)="change_sorting()"/>
              <label>&nbsp; ПІБ Менеджера</label>
            </th>
            <th scope="col" style="width: 80px;">Місто</th>
            <th scope="col" style="width: 40px;">Ст.</th>
            <th scope="col" style="width: 40px;" *ngIf="hidden_managers">бл.</th>
          </tr>
          </thead>

          <tbody formArrayName="managersForm">

          <tr *ngFor="let managerForm of (tableForm.get('managersForm').controls); let i=index"
              [hidden]="managerForm.get('disable').value && !hidden_managers"
              [ngClass]="{changed:managerForm.get('isChanged').value}">

            <td [formGroupName]="i">
              <input type="checkbox" formControlName="isChanged"
                     (change)="managerForm.invalid ? managerForm.get('isChanged')
                   .patchValue(false) : false"
                     class="form-control form-control-sm input-style-active">
            </td>

            <td [formGroupName]="i">
              <input id="surname" #surname type="text" formControlName="surname" title="" placeholder="  - Прізвище -  "
                     [ngClass]="{'form-control form-control-sm':true,
                    'input-style-active':managerForm.get('surname').valid,
                    'is-invalid':!managerForm.get('surname').valid
                    }"
                     (input)="managerForm.get('isChanged').patchValue(managerForm.valid)"
                     (keydown.space)="firstName.focus(); false">
            </td>

            <td [formGroupName]="i">
              <input #firstName type="text" formControlName="firstName" placeholder="  - Ім'я -  "
                     [ngClass]="{'form-control form-control-sm':true,
                    'input-style-active':managerForm.get('firstName').valid,
                    'is-invalid':!managerForm.get('firstName').valid
                    }"
                     (input)="managerForm.get('isChanged').patchValue(managerForm.valid)"
                     (keydown.space)="secondName.focus(); false">
            </td>

            <td [formGroupName]="i">
              <input #secondName type="text" formControlName="secondName" placeholder="  - по-Батькові -  "
                     [ngClass]="{'form-control form-control-sm':true,
                    'input-style-active':managerForm.get('secondName').valid,
                    'is-invalid':!managerForm.get('secondName').valid
                    }"
                     (input)="managerForm.get('isChanged').patchValue(managerForm.valid)"
                     (keydown.space)="city.focus(); false">
            </td>

            <td [formGroupName]="i">
              <input #city type="text" formControlName="city" placeholder="  - філіал -  "
                     [ngClass]="{'form-control form-control-sm':true,
                    'input-style-active':managerForm.get('city').valid,
                    'is-invalid':!managerForm.get('city').valid
                    }"
                     (input)="managerForm.get('isChanged').patchValue(managerForm.valid)"
                     (keydown.space)="sex.focus(); false">
            </td>

            <td [formGroupName]="i">
              <select #sex type="text" formControlName="sex"
                      [ngClass]="{'form-control form-control-sm':true,
                    'input-style-active':managerForm.get('sex').valid,
                    'is-invalid':!managerForm.get('sex').valid
                    }"
                      (change)="managerForm.get('isChanged').patchValue(managerForm.valid)"
              >
                <option *ngFor="let sex of genders" [selected]="managerForm.get('sex').value === sex" value="{{sex}}">
                  {{sex}}
                </option>
              </select>
            </td>
            <td [formGroupName]="i" *ngIf="hidden_managers">
              <input type="checkbox" formControlName="disable"
                     (change)="managerForm.get('isChanged').patchValue(managerForm.valid)"
                     class="form-control form-control-sm input-style-active">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>

  </div>
</div>
<br><br><br>

<div class="left-container fixed-bottom bg-light">
  <button class="btn btn-min-style" (click)="onAdd()" title="Додати">
    <img src="/assets/img/icons8/add-48.png">
  </button>
  <button class="btn btn-min-style" (click)="onSave()" title="Зберегти"
          [disabled]="count_of_managers == 0">
    <img src="/assets/img/icons8/save-48.png">
  </button>
  <img [hidden]="!save_loading" src="/assets/img/rotating-balls-spinner.gif" height="40" width="40"/>
  <button class="btn btn-min-style" (click)="onRefresh()" title="Обновити">
    <img src="/assets/img/icons8/synchronize-48.png">
  </button>
  <button class="btn btn-min-style" (click)="onDelete()" title="Видалити"
          [disabled]="count_of_managers == 0">
    <img src="/assets/img/icons8/delete-48.png">
  </button>
  <img [hidden]="!del_loading" src="/assets/img/rotating-balls-spinner.gif" height="40" width="40"/>
  <button class="btn btn-min-style" (click)="onCancel()" title="Відмінити"
          [disabled]="count_of_managers == 0">
    <img src="/assets/img/icons8/cancel-48.png">
  </button>
  <!--<button class="btn btn-danger btn-min-style" (click)="test()">Test</button>-->
</div>
