<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="jpa_hibernate.xml"/>

    <bean id="patient" name="relative" class="ua.nike.project.hibernate.entity.Patient" scope="prototype"/>
    <bean id="operation" class="ua.nike.project.hibernate.entity.Operation" scope="prototype"/>
    <bean id="operationDay" class="ua.nike.project.hibernate.entity.OperationDay" scope="prototype"/>

    <bean id="patientDAO" class="ua.nike.project.spring.dao.PatientDAOImpl"/>

    <bean id="operationDAO" class="ua.nike.project.spring.dao.OperationDAOImpl"/>

    <bean id="operationDayDAO" class="ua.nike.project.spring.dao.OperationDayDAOImpl"/>

    <bean id="operationBeanDAO" class="ua.nike.project.spring.dao.OperationBeanDAOImpl"/>
</beans>