<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="jpa_hibernate.xml"/>

    <!--<bean id="accomodationDAO" class="ua.nike.project.spring.dao.AccomodationDAOImpl"/>-->
    <!--<bean id="clientDAO" class="ua.nike.project.spring.dao.ClientDAOImpl"/>-->
    <!--<bean id="managerDAO" class="ua.nike.project.spring.dao.ManagerDAOImpl"/>-->
    <!--<bean id="visitDAO" class="ua.nike.project.spring.dao.VisitDAOImpl"/>-->
    <!--<bean id="operationDateDAO" class="ua.nike.project.spring.dao.OperationDateDAOImpl"/>-->


</beans>