<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="jpa_hibernate.xml"/>

    <bean id="patient" name="relative" class="ua.nike.project.spring.beans.entity.Patient" scope="prototype">
        <!--<constructor-arg value="surname" index="0" type="java.lang.String"/>-->
        <!--<constructor-arg value="firstName" index="1" type="java.lang.String"/>-->
        <!--<constructor-arg value="secondName" index="2" type="java.lang.String"/>-->
        <!--<constructor-arg value="status" index="3" type="java.lang.String"/>-->
        <!--<constructor-arg ref="relative" index="4"/>-->
        <!--<constructor-arg value="telephone" index="5" type="java.lang.String"/>-->

    </bean>
    <bean id="operation" class="ua.nike.project.spring.beans.entity.Operation" scope="prototype"/>
    <bean id="operationDay" class="ua.nike.project.spring.beans.entity.OperationDay" scope="prototype"/>

    <bean id="patientDAO" class="ua.nike.project.spring.dao.PatientDAOImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean id="operationDAO" class="ua.nike.project.spring.dao.OperationDAOImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="operationDayDAO" class="ua.nike.project.spring.dao.OperationDayDAOImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

</beans>