<!--
<div>
  <p class="h3 text-center">Редагування операції в пацієнта :</p>
  <p class="h4 text-center text-info">{{client.clientId}} {{client.surname}} {{client.firstName}}
    {{client.secondName}}</p>
  <p class="h6 text-center text-info">{{client.telephone}}</p>


  <mat-dialog-content>
    <div class="input-group">
      <span class="input-group-text"> Вид операції </span>
      <select #operationType class="form-control">
        <option [selected]="operationOfPatient.operationTypeName == null">Відсутня</option>
        <option *ngFor="let operationType of procedures" [selected]="operationOfPatient.operationTypeName == operationType.name">
          {{operationType.name}}
        </option>
      </select>
    </div>

    <div class="input-group">
      <span class="input-group-text"> Око/Очі </span>
      <select #eye class="form-control" ([ngModel])="operationOfPatient.eye">
        <option *ngFor="let eye of eyes" [selected]="operationOfPatient.eye == eye.valueOf()">{{eye.valueOf()}}</option>
      </select>

      <span class="input-group-text"> Хірург </span>
      <input matInput #surgeon class="form-control" [ngModel]="operationOfPatient.surgeon" type="text" placeholder="Хірург..." [formControl]="myControlSurgeons" [matAutocomplete]="autoSurgeon">
      <mat-autocomplete autoActiveFirstOption #autoSurgeon="matAutocomplete">
        <mat-option *ngFor="let surgeon of filteredSurgeons | async" [value]="surgeon">
          {{surgeon}}
        </mat-option>
      </mat-autocomplete>

      <span class="input-group-text"> Менеджер </span>
      <input matInput #manager class="form-control" [ngModel]="operationOfPatient.manager" type="text" placeholder="Менеджер..." [formControl]="myControlManagers" [matAutocomplete]="autoManager">
      <mat-autocomplete autoActiveFirstOption #autoManager="matAutocomplete">
        <mat-option *ngFor="let manager of filteredManagers | async" [value]="manager">
          {{manager}}
        </mat-option>
      </mat-autocomplete>

    </div>

    <br>

    <div class="input-group">
      <span class="input-group-text"> Час приходу : </span>
      <input #timeForCome type="time" class="form-control"
             [ngModel]="operationOfPatient.timeForCome" min="08:00" max="19:00">

      <span class="input-group-text"> Номер по порядку : </span>
      <input #numberOfOrder type="number" class="form-control"
             [ngModel]="operationOfPatient.numberOfOrder" min="1">
    </div>

    <br>

    <div class="input-group">
      <span class="input-group-text"> Місце в хостелі : </span>
      <input #numberOfPlace type="number" class="form-control"
             [ngModel]="hospitalization.numberOfPlace" min="1" max="24">
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div ngPreserveWhitespaces>
      <button class="btn btn-danger" mat-raised-button (click)="onCancel()">Cancel</button>
      <button class="btn btn-success" mat-raised-button (click)="onSave()">Save</button>
    </div>
  </mat-dialog-actions>

</div>
-->
