<div>
  <button class="btn btn-success btn-min-style" (click)="onSave()">Save</button>
  <button class="btn btn-warning btn-min-style" (click)="onRefresh()">Refresh</button>
  <button class="btn btn-dark btn-min-style" (click)="onDelete()">Delete</button>
  <button class="btn btn-info btn-min-style" (click)="onUnplaced()">Unplaced</button>
  <button class="btn btn-info btn-min-style" (click)="moveToAnotherDatePlace()">Move to ...</button>
  <button class="btn btn-danger btn-min-style" (click)="onCancel()">Cancel</button>
</div>
<div *ngFor="let ward of wards" class="container-fluid" style="min-width:500px;">
  <h5>Палата {{ward}}</h5>

  <div class="table-responsive-lg">
    <table class="table table-bordered table-sm table-hover">
      <thead>
      <tr class="table-info">
        <th scope="col" style="width: 30px;"></th>
        <th scope="col" style="width: 35px;">№м</th>
        <th scope="col" style="width: 50px;">№п</th>
        <th scope="col" style="width: 80px;">Час</th>
        <th scope="col" style="min-width: 195px; max-width: 250px">ПІБ</th>
        <th scope="col" style="width: 35px;">Ст.</th>
        <th scope="col" style="width: 60px;">Статус</th>
        <th scope="col" style="width: 150px;">Операція</th>
        <th scope="col" style="width: 45px;">Око</th>
        <th scope="col" style="width: 100px">Хірург</th>
        <th scope="col" style="width: 100px">Менеджер</th>
        <th scope="col">Примітки</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let place_in_ward of placesOfWards" [ngClass]="{changed:place_in_ward.isChanged}">

        <!--Checkbox-->
        <th *ngIf="place_in_ward.accomodation.ward == ward">
          <input type="checkbox" [ngModel]="place_in_ward.isChanged"
                 (change)="place_in_ward.isChanged=!place_in_ward.isChanged">
        </th>

        <!--Ward Place-->
        <th scope="row" *ngIf="place_in_ward.accomodation.ward == ward">
          <a class="form-control font-weight-bold form-control-sm"
             style="border: none; background-color: rgba(0,0,0,0)">
            {{place_in_ward.accomodation.wardPlace}}
          </a>
        </th>

        <!--Order For Come-->
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          <input #orderForCome type="number" *ngIf="place_in_ward.orderForCome != null || place_in_ward.client != null"
                 class="form-control font-weight-bold form-control-sm"
                 style="border: none; background-color: rgba(255,255,255,0.5)"
                 ngModel="{{place_in_ward.orderForCome}}" min="1" max="99"
                 (change)="place_in_ward.orderForCome = orderForCome.value; place_in_ward.isChanged = true;">
        </td>

        <!--Time For Come-->
        <td *ngIf="place_in_ward.accomodation.ward == ward">

          <input #timeForCome *ngIf="place_in_ward.client != null"
                 type="time" [ngModel]="refactorTime(place_in_ward.timeForCome) | date : 'HH:mm'" min="09:00"
                 max="17:30"
                 (change)="changeTimeForCome(place_in_ward, timeForCome)"
                 class="form-control font-weight-bold form-control-sm"
                 style="border: none; background-color: rgba(255,255,255,0.5)"/>

        </td>


        <!--Client-->
        <td *ngIf="place_in_ward.accomodation.ward == ward">

          <input matInput #client type="text" [matAutocomplete]="autoClient"
                 [ngModel]="place_in_ward.client" (input)="filteringClients(client.value)"
                 (focus)="filteringClients(client.value)"
                 class="form-control font-weight-bold form-control-sm"
                 style="border: none; background-color: rgba(255,255,255,0.5)">
          <!--(blur)="((filteredClients.length > 0 && client.value) ? selectedClient(place_in_ward, filteredClients[0]) : false)"-->

          <mat-autocomplete autoActiveFirstOption [displayWith]="displayFn" #autoClient="matAutocomplete"
                            (optionSelected)="selectedClient(place_in_ward, $event.option.value)">
            <mat-option *ngFor="let client of filteredClients"
                        [value]="client">
              {{client.surname}} {{client.firstName}} {{client.secondName}} {{client.sex}}
            </mat-option>
          </mat-autocomplete>

        </td>


        <!--Sex-->
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          <a *ngIf="place_in_ward.client != null" class="form-control font-weight-bold form-control-sm"
             style="border: none; background-color: rgba(255,255,255,0.5)">
            {{place_in_ward.client.sex}}
          </a>
        </td>


        <!--Status-->
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          <select #status class="form-control font-weight-bold form-control-sm"
                  style="border: none; background-color: rgba(255,255,255,0.5)"
                  (change)="changeStatus(place_in_ward, status.value)"
                  *ngIf="place_in_ward.client != null">

            <option [selected]="place_in_ward.status == null" [value]=null></option>
            <option *ngFor="let status of statuses" [value]="status"
                    [selected]="place_in_ward.status == status">
              {{status}}
            </option>
          </select>

        </td>


        <!--Operation Type-->
        <td *ngIf="place_in_ward.accomodation.ward == ward">

          <select #operation_type_id *ngIf="place_in_ward.status == 'пацієнт' && place_in_ward.client != null"
                  class="form-control font-weight-bold form-control-sm"
                  style="border: none; background-color: rgba(255,255,255,0.5)"
                  (change)="changeOperationType(place_in_ward, operation_type_id.value)">

            <option
              [selected]="place_in_ward.operationType == null || place_in_ward.operationType.operationTypeId == null"></option>
            <option *ngFor="let operationType of operation_types" [value]="operationType.operationTypeId"
                    [selected]="place_in_ward.operationType != null && place_in_ward.operationType.operationTypeId == operationType.operationTypeId">
              {{operationType.name}}
            </option>
          </select>

        </td>


        <!--EYE-->
        <td *ngIf="place_in_ward.accomodation.ward == ward">

          <select #eye *ngIf="place_in_ward.status == 'пацієнт' && place_in_ward.client != null"
                  class="form-control font-weight-bold form-control-sm"
                  style="border: none; background-color: rgba(255,255,255,0.5)"
                  (change)="changeEye(place_in_ward, eye.value)">

            <option [selected]="place_in_ward.eye == null"></option>
            <option *ngFor="let eye of eyes" [value]="eye"
                    [selected]="place_in_ward.eye == eye">
              {{eye}}
            </option>
          </select>

        </td>


        <!--Surgeon-->
        <td *ngIf="place_in_ward.accomodation.ward == ward">

          <select #surgeon_id *ngIf="place_in_ward.status == 'пацієнт' && place_in_ward.client != null"
                  class="form-control font-weight-bold form-control-sm"
                  style="border: none; background-color: rgba(255,255,255,0.5)"
                  (change)="changeSurgeon(place_in_ward, surgeon_id.value)">

            <option [selected]="place_in_ward.surgeon == null || place_in_ward.surgeon.surgeonId == null"></option>
            <option *ngFor="let surgeon of surgeons" [value]="surgeon.surgeonId"
                    [selected]="place_in_ward.surgeon != null && place_in_ward.surgeon.surgeonId == surgeon.surgeonId">
              {{surgeon.surname}} {{surgeon.firstName[0]}}.{{surgeon.secondName[0]}}.
            </option>
          </select>
        </td>


        <!--Manager-->
        <td *ngIf="place_in_ward.accomodation.ward == ward">

          <select #manager_id *ngIf="place_in_ward.status == 'пацієнт' && place_in_ward.client != null"
                  class="form-control font-weight-bold form-control-sm "
                  style="border: none; background-color: rgba(255,255,255,0.5)"
                  (change)="changeManager(place_in_ward, manager_id.value)">

            <option [selected]="place_in_ward.manager == null || place_in_ward.manager.managerId == null"></option>
            <option *ngFor="let manager of managers" [value]="manager.managerId"
                    [selected]="place_in_ward.manager != null && place_in_ward.manager.managerId == manager.managerId">
              {{manager.surname}} {{manager.firstName[0]}}.{{manager.secondName[0]}}.
            </option>
          </select>

        </td>


        <!--Note-->
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          <input #note type="text" (change)="place_in_ward.note = note.value; place_in_ward.isChanged = true;"
                 class="form-control font-weight-bold form-control-sm"
                 style="border: none; background-color: rgba(255,255,255,0.5)" ngModel="{{place_in_ward.note}}">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<!--
          <input #time type="time" class="form-control font-weight-bold form-control-sm"
                 [ngModel]="place_in_ward.timeForCome" min="08:00" max="19:00">
-->


<!--

<ng-template #tableHeader>

  <th scope="col" style="width: 20px;">№м</th>
  <th scope="col" style="width: 20px;">№п</th>
  <th scope="col">ПІБ</th>
  <th scope="col" style="width: 40px;">Ст.</th>
  <th scope="col" style="width: 80px;">Статус</th>
  <th scope="col">Операція</th>
  <th scope="col" style="width: 40px;">Око</th>
  <th scope="col" style="width: 50px;">Час</th>
  <th scope="col">Хірург</th>
  <th scope="col">Менеджер</th>
  <th scope="col">Примітки</th>

</ng-template>


<div class="container-fluid" style="min-width:500px;">
  Палата 201 (місця з 1 по 6)
  <div class="table-responsive-lg">
    <table class="table table-bordered table-sm">
      <thead>
      <tr class="table-info">
        <th scope="col" style="width: 40px;">
        </th>

        <div *ngTemplateOutlet="tableHeader"></div>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let place_in_ward of visits_of_date">
        <th *ngIf="place_in_ward.accomodation.ward == ward">
          <button class="btn btn-sm btn-danger">-</button>
        </th>
        <th scope="row" *ngIf="place_in_ward.accomodation.ward == ward">
          {{place_in_ward.accomodation.wardPlace}}
        </th>
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          {{place_in_ward.orderForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          <div (click)="onChangePatient(place_in_ward.client.clientId)" class="btn-link">
            {{place_in_ward.client.surname}} {{place_in_ward.client.firstName}} {{place_in_ward.client.secondName}}
          </div>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          {{place_in_ward.client.sex}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          {{place_in_ward.status}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          <div
            *ngIf="(place_in_ward.operationType == null) && (place_in_ward.status == 'пацієнт'); else elseProcedure201">
            <button class="btn btn-sm btn-success">+</button>
          </div>
          <ng-template #elseProcedure201>
            <div class="btn-link" (click)="onChangeOperationOfPatient(place_in_ward)">
              {{place_in_ward.operationType.operationTypeId}}
            </div>
          </ng-template>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          {{place_in_ward.eye}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          {{place_in_ward.timeForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          {{place_in_ward.surgeon}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          {{place_in_ward.manager}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == ward">
          {{place_in_ward.note}}
        </td>
      </tr>
      <tr class="table-danger">
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid" style="min-width:500px;">
  Палата 202 (місця з 7 по 9)
  <div class="table-responsive-lg">
    <table class="table table-bordered table-sm">
      <thead>
      <tr class="table-info">
        <th scope="col" style="width: 5px;">
          <button class="btn btn-sm btn-success" (click)="addPatientIntoWard(202)">+</button>
        </th>

        <div *ngTemplateOutlet="tableHeader"></div>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let place_in_ward of visits_of_date">
        <th *ngIf="place_in_ward.accomodation.ward == 'N202'">
          <button class="btn btn-sm btn-danger">-</button>
        </th>
        <th scope="row" *ngIf="place_in_ward.accomodation.ward == 'N202'">
          {{place_in_ward.accomodation.wardPlace}}
        </th>
        <td *ngIf="place_in_ward.accomodation.ward == 'N202'">
          {{place_in_ward.orderForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N202'">
          <div (click)="onChangePatient(place_in_ward.client.clientId)" class="btn-link">
            {{place_in_ward.client.surname}} {{place_in_ward.client.firstName}} {{place_in_ward.client.secondName}}
          </div>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N202'">
          {{place_in_ward.client.sex}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N202'">
          {{place_in_ward.status}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N202'">
          <div
            *ngIf="(place_in_ward.operationType == null) && (place_in_ward.status == 'пацієнт'); else elseProcedure">
            <button class="btn btn-sm btn-success">+</button>
          </div>
          <ng-template #elseProcedure>{{place_in_ward.operationType.name}}</ng-template>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N202'">
          {{place_in_ward.eye}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N202'">
          {{place_in_ward.timeForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N202'">
          {{place_in_ward.surgeon}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N202'">
          {{place_in_ward.manager}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N202'">
          {{place_in_ward.note}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid" style="min-width:500px;">
  Палата 203 (місця з 10 по 13)
  <div class="table-responsive-lg">
    <table class="table table-bordered table-sm">
      <thead>
      <tr class="table-info">
        <th scope="col" style="width: 5px;">
          <button class="btn btn-sm btn-success" (click)="addPatientIntoWard(203)">+</button>
        </th>

        <div *ngTemplateOutlet="tableHeader"></div>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let place_in_ward of visits_of_date">
        <th *ngIf="place_in_ward.accomodation.ward == 'N203'">
          <button class="btn btn-sm btn-danger">-</button>
        </th>
        <th scope="row" *ngIf="place_in_ward.accomodation.ward == 'N203'">
          {{place_in_ward.accomodation.wardPlace}}
        </th>
        <td *ngIf="place_in_ward.accomodation.ward == 'N203'">
          {{place_in_ward.orderForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N203'">
          <div (click)="onChangePatient(place_in_ward.client.clientId)" class="btn-link">
            {{place_in_ward.client.surname}} {{place_in_ward.client.firstName}} {{place_in_ward.client.secondName}}
          </div>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N203'">
          {{place_in_ward.client.sex}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N203'">
          {{place_in_ward.status}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N203'">
          <div
            *ngIf="(place_in_ward.operationType == null) && (place_in_ward.status == 'пацієнт'); else elseProcedure">
            <button class="btn btn-sm btn-success">+</button>
          </div>
          <ng-template #elseProcedure>{{place_in_ward.operationType.name}}</ng-template>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N203'">
          {{place_in_ward.eye}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N203'">
          {{place_in_ward.timeForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N203'">
          {{place_in_ward.surgeon}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N203'">
          {{place_in_ward.manager}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N203'">
          {{place_in_ward.note}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid" style="min-width:500px;">
  Палата 204 (місця з 14 по 16)
  <div class="table-responsive-lg">
    <table class="table table-bordered table-sm">
      <thead>
      <tr class="table-info">
        <th scope="col" style="width: 5px;">
          <button class="btn btn-sm btn-success" (click)="addPatientIntoWard(204)">+</button>
        </th>

        <div *ngTemplateOutlet="tableHeader"></div>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let place_in_ward of visits_of_date">
        <th *ngIf="place_in_ward.accomodation.ward == 'N204'">
          <button class="btn btn-sm btn-danger">-</button>
        </th>
        <th scope="row" *ngIf="place_in_ward.accomodation.ward == 'N204'">
          {{place_in_ward.accomodation.wardPlace}}
        </th>
        <td *ngIf="place_in_ward.accomodation.ward == 'N204'">
          {{place_in_ward.orderForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N204'">
          <div (click)="onChangePatient(place_in_ward.client.clientId)" class="btn-link">
            {{place_in_ward.client.surname}} {{place_in_ward.client.firstName}} {{place_in_ward.client.secondName}}
          </div>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N204'">
          {{place_in_ward.client.sex}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N204'">
          {{place_in_ward.status}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N204'">
          <div
            *ngIf="(place_in_ward.operationType == null) && (place_in_ward.status == 'пацієнт'); else elseProcedure">
            <button class="btn btn-sm btn-success">+</button>
          </div>
          <ng-template #elseProcedure>{{place_in_ward.operationType.name}}</ng-template>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N204'">
          {{place_in_ward.eye}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N204'">
          {{place_in_ward.timeForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N204'">
          {{place_in_ward.surgeon}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N204'">
          {{place_in_ward.manager}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N204'">
          {{place_in_ward.note}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid" style="min-width:500px;">
  Палата 205 (місця з 17 по 20)
  <div class="table-responsive-lg">
    <table class="table table-bordered table-sm">
      <thead>
      <tr class="table-info">
        <th scope="col" style="width: 5px;">
          <button class="btn btn-sm btn-success" (click)="addPatientIntoWard(205)">+</button>
        </th>

        <div *ngTemplateOutlet="tableHeader"></div>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let place_in_ward of visits_of_date">
        <th *ngIf="place_in_ward.accomodation.ward == 'N205'">
          <button class="btn btn-sm btn-danger">-</button>
        </th>
        <th scope="row" *ngIf="place_in_ward.accomodation.ward == 'N205'">
          {{place_in_ward.accomodation.wardPlace}}
        </th>
        <td *ngIf="place_in_ward.accomodation.ward == 'N205'">
          {{place_in_ward.orderForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N205'">
          <div (click)="onChangePatient(place_in_ward.client.clientId)" class="btn-link">
            {{place_in_ward.client.surname}} {{place_in_ward.client.firstName}} {{place_in_ward.client.secondName}}
          </div>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N205'">
          {{place_in_ward.client.sex}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N205'">
          {{place_in_ward.status}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N205'">
          <div
            *ngIf="(place_in_ward.operationType == null) && (place_in_ward.status == 'пацієнт'); else elseProcedure">
            <button class="btn btn-sm btn-success">+</button>
          </div>
          <ng-template #elseProcedure>{{place_in_ward.operationType.operationTypeID}}</ng-template>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N205'">
          {{place_in_ward.eye}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N205'">
          {{place_in_ward.timeForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N205'">
          {{place_in_ward.surgeon}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N205'">
          {{place_in_ward.manager}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N205'">
          {{place_in_ward.note}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid" style="min-width:500px;">
  Палата 207 (місця з 21 по 24)
  <div class="table-responsive-lg">
    <table class="table table-bordered table-sm">
      <thead>
      <tr class="table-info">
        <th scope="col" style="width: 5px;">
          <button class="btn btn-sm btn-success" (click)="addPatientIntoWard(207)">+</button>
        </th>

        <div *ngTemplateOutlet="tableHeader"></div>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let place_in_ward of visits_of_date">
        <th *ngIf="place_in_ward.accomodation.ward == 'N207'">
          <button class="btn btn-sm btn-danger">-</button>
        </th>
        <th scope="row" *ngIf="place_in_ward.accomodation.ward == 'N207'">
          {{place_in_ward.accomodation.wardPlace}}
        </th>
        <td *ngIf="place_in_ward.accomodation.ward == 'N207'">
          {{place_in_ward.orderForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N207'">
          <div (click)="onChangePatient(place_in_ward.client.clientId)" class="btn-link">
            {{place_in_ward.client.surname}} {{place_in_ward.client.firstName}} {{place_in_ward.client.secondName}}
          </div>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N207'">
          {{place_in_ward.client.sex}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N207'">
          {{place_in_ward.status}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N207'">
          <div
            *ngIf="(place_in_ward.operationType == null) && (place_in_ward.status == 'пацієнт'); else elseProcedure">
            <button class="btn btn-sm btn-success">+</button>
          </div>
          <ng-template #elseProcedure>{{place_in_ward.operationType.name}}</ng-template>
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N207'">
          {{place_in_ward.eye}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N207'">
          {{place_in_ward.timeForCome}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N207'">
          {{place_in_ward.surgeon}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N207'">
          {{place_in_ward.manager}}
        </td>
        <td *ngIf="place_in_ward.accomodation.ward == 'N207'">
          {{place_in_ward.note}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
-->
