<div class="input-group">
  <label class="form-control" *ngIf="surgeons_loading">Завантаження...</label>
  <select class="form-control" [hidden]="surgeons_loading" ([ngModel])="selectedSurgeon">
    <option [hidden]="surgeon.disable"
            *ngFor="let surgeon of surgeons"
            [selected]="surgeon.surgeonId === selectedSurgeon.surgeonId"
            (click)="change(surgeon)">
      {{surgeon.surname}} {{surgeon.firstName[0]}}.{{surgeon.secondName[0]}}.
    </option>
  </select>
  <div class="input-group-append">
    <button type="button"
            class="btn btn-light"
            (click)="addSurgeon()"
            title="Додати нового хірурга.">
      <img  src="/assets/img/icons8/add-48.png" style="max-height: 15px; max-width: 15px"/>
    </button>
    <button type="button"
            class="btn btn-light"
            (click)="getSurgeons()"
            title="Оновити">
      <img  src="/assets/img/icons8/synchronize-48.png" style="max-height: 15px; max-width: 15px"/>
    </button>
  </div>
</div>
