
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
}
.custom-day:hover, .custom-day.focused {
  background-color: #e6e6e6;
}
.work-day {
  background-color: #f0ad4e;
  border-radius: 0.5rem;
  color: black;
}
.lock-day {
  background-color: bisque;
  border-radius: 0.5rem;
  color: black;
}

.hidden {
  display: none;
}

.btn {
  margin-right: 5px;
  margin-top: 5px;
  min-width: 65px;
}

.mat-spinner {
  position: fixed;
  margin-left: 30%;
  margin-right: 30%;
  display: block
}
