select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.changed {
  background-color: rgba(0, 0, 0, 0.075)
}

.btn-min-style {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 65px;
}
